<mat-card appearance="raised">
  <mat-card-content>
    <section class="align-to-ends">
      <section class="logo">
        <article>
          <button
            (click)="showNavigation()"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
        </article>
        <article>
          <img
            src="assets/img/logo.svg"
            alt="Application logo"
            class="logo-size"
          />
        </article>
        <article><strong>Gestión inventario</strong></article>
      </section>

      <section class="align-text-right">
        <div><b>¡Bienvenido!</b></div>
        <div>Juan Carlos Daniel Rodriguez Vazquez</div>
        <div><span>Administrador</span></div>
      </section>
    </section>
  </mat-card-content>
</mat-card>
