section, article, div, strong, span{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-size{
  height: 35px;
  width: 35px;
}

.logo{
  display: flex;
  align-items: center;
}

.align-text-right{
  text-align: right;
}

.align-to-ends{
  display: flex;
  justify-content: space-between;
}

span{
  font-size: small;
  color: gray;
}

.margin{
  margin: 5px;
}

.padding{
  padding: 5px;
}
