.status-active{
  color: green;
}

.status-inactive {
  color: #AC0B0B;
}

.align-in-line{
  display: flex;
  align-items: center;
}

.linear-to-extremes {
  display: flex;
}

.take-up-the-full-width {
  width: 100%;
}

.left-margin {
  margin-left: 10px;
}
