<div class="linear-to-extremes">
  <form
    (submit)="onSubmit()"
    [formGroup]="formProduct"
    class="take-up-the-full-width"
  >
    <!--Entrada Id producto-->
    <mat-form-field class="wide-container">
      <mat-label>Id producto</mat-label>
      <input
      #txtId
      autocomplete="off"
        matInput
        type="text"
        formControlName="idProduct"
        placeholder="Ej. 1"
      />
      @if (idProduct.value) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="idProduct.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      } @if (idProduct.hasError('required')) {
      <mat-error>El número de Id es <strong>requerido</strong></mat-error>
      } @if(idProduct.hasError('pattern')){
      <mat-error
        >Solo se deben introducir <strong>números enteros</strong></mat-error
      >}
    </mat-form-field>

    <!--Entrada nombre producto-->
    <mat-form-field class="wide-container">
      <mat-label>Nombre del producto</mat-label>
      <input
      #txtNameProduct
      autocomplete="off"
        matInput
        type="text"
        formControlName="nameProduct"
        placeholder="Ej. 1"
      />
      @if (nameProduct.value) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="nameProduct.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      } @if (nameProduct.hasError('required')) {
      <mat-error
        >El nombre del producto es <strong>requerido</strong></mat-error
      >
      }
    </mat-form-field>

    <!--Entrada estatus-->

    <div class="align-in-line">
      <mat-form-field class="wide-container">
        <mat-label>Selecciona un estatus</mat-label>
        <mat-select formControlName="nameStatus">
          <mat-option>--</mat-option>
          <mat-option value="1">Activo</mat-option>
          <mat-option value="2">Inactivo</mat-option>
        </mat-select>

        @if (nameStatus.hasError('required')) {
        <mat-error>El estatus es <strong>requerido</strong></mat-error>
        }
      </mat-form-field>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="circle"
        [class]="statusColor"
      ></mat-icon>
    </div>

    <!--Ocultar el botón si no hay ninguna acción seleccionada y si el formulario esta incompleto-->
    @if (action != 0 && formProduct.valid) {
    <button type="submit" class="btn">
      {{ executeAction }}
    </button>
    }
  </form>

  <div class="left-margin">
    <!--Botón nuevo producto-->
    <div>
      <button
        (click)="actionNewProduct()"
        #tooltip="matTooltip"
        matTooltip="Agregar nuevo producto"
        matTooltipPosition="left"
        matTooltipHideDelay="100"
        mat-icon-button
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon
          svgIcon="add_icon"
          aria-hidden="false"
          aria-label="Add SVG icon"
        ></mat-icon>
      </button>
    </div>

    <!--Botón buscar product-->
    <div>
      <button
        (click)="actionSearcProduct()"
        #tooltip="matTooltip"
        matTooltip="Buscar producto"
        matTooltipPosition="left"
        matTooltipHideDelay="100"
        mat-icon-button
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon
          svgIcon="search_icon"
          aria-hidden="false"
          aria-label="Search SVG icon"
        ></mat-icon>
      </button>
    </div>

    <!--Botón editar producto-->
    <div>
      <button
        (click)="actionUpdateproduct()"
        #tooltip="matTooltip"
        matTooltip="Editar producto"
        matTooltipPosition="left"
        matTooltipHideDelay="100"
        mat-icon-button
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon
          svgIcon="edit_icon"
          aria-hidden="false"
          aria-label="Edit SVG icon"
        ></mat-icon>
      </button>
    </div>
  </div>
</div>
