<div>
  <div>
    <button
      #tooltip="matTooltip"
      matTooltip="Agregar nuevo producto"
      matTooltipPosition="left"
      matTooltipHideDelay="100"
      mat-icon-button
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon
        svgIcon="add_icon"
        aria-hidden="false"
        aria-label="Add SVG icon"
      ></mat-icon>
    </button>
  </div>
  <div>
    <button
      #tooltip="matTooltip"
      matTooltip="Buscar producto"
      matTooltipPosition="left"
      matTooltipHideDelay="100"
      mat-icon-button
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon
        svgIcon="search_icon"
        aria-hidden="false"
        aria-label="Search SVG icon"
      ></mat-icon>
    </button>
  </div>
  <div>
    <button
      #tooltip="matTooltip"
      matTooltip="Editar producto"
      matTooltipPosition="left"
      matTooltipHideDelay="100"
      mat-icon-button
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon
        svgIcon="edit_icon"
        aria-hidden="false"
        aria-label="Edit SVG icon"
      ></mat-icon>
    </button>
  </div>
</div>
