<app-header
  (openedChanged)="opened = $event"
  (openMenuChanged)="openMenu = $event"
/>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <mat-card appearance="raised">
      <nav>
        <ul class="delete-point">
          <!--Muestra las opciones del menú o navegación dependiendo del rol del usuario-->
          @for (item of showOptionByRole(); track $index) {
          <li>
            <app-menu-item
              [link]="item.link"
              [imgPath]="item.img"
              [nameElement]="item.option"
            />
          </li>
          }
        </ul>
      </nav>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card appearance="raised">
      <mat-card-content>
        <!--Menú opciones-->
        @if (openMenu) {
        <mat-card appearance="outlined" class="options-menu">
          <mat-list>
            <mat-list-item (click)="logout()"> Cerrar sesión </mat-list-item>
            <mat-divider class="margin"></mat-divider>
          </mat-list>
        </mat-card>
        }

        <!--Formularios-->
        <router-outlet />
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
