<form [formGroup]="inputOutputForm">
  <!--Entrada Id producto-->
  <mat-form-field class="wide-container">
    <mat-label>Id producto</mat-label>
    <input
    (keyup)="getStatusProduct()"
          autocomplete="off"
      matInput
      type="text"
      formControlName="idProduct"
      placeholder="Ej. 1"
    />
    @if (idProduct.value) {
    <button
      type="button"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="idProduct.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
    } @if (idProduct.hasError('required')) {
    <mat-error>El número de Id es <strong>requerido</strong></mat-error>
    } @if(idProduct.hasError('pattern')){
    <mat-error
      >Solo se deben introducir <strong>números enteros</strong></mat-error
    >}
  </mat-form-field>

  <!--Entrada cantidad-->
  <mat-form-field class="wide-container">
    <mat-label>Cantidad</mat-label>
    <input
      matInput
      type="text"
      formControlName="quantity"
      placeholder="Ej. 1000"
      autocomplete="off"
    />
    @if (quantity.value) {
    <button
      type="button"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="quantity.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
    } @if (quantity.hasError('required')) {
    <mat-error>La cantidad es <strong>requerida</strong></mat-error>
    } @if(quantity.hasError('pattern')){
    <mat-error
      >Solo se deben introducir <strong>números enteros</strong></mat-error
    >}
  </mat-form-field>

  <!--Entrada movimiento-->
  <mat-form-field class="wide-container">
    <mat-label>Selecciona el tipo de movimiento</mat-label>
    <mat-select formControlName="move">
      <mat-option value="1">ENTRADA</mat-option>
      <mat-option value="2">SALIDA</mat-option>
    </mat-select>
  </mat-form-field>
  <button
    type="button"
    class="btn"
    (click)="saveTransactionMovement()"
    [hidden]="inputOutputForm.invalid || hiddenButton"
  >
    Guardar
  </button>
</form>

<h6>Detalle</h6>
<app-detail-form [idProduct]="idProduct.value || '0'" />
